.Navbar { 
    background-color:maroon;
    color: beige;
    font-family:'Courier New', Courier, monospace;
    height:10vh;
    overflow: auto;
    /* &-logo{
      align-items: left;
    }
    &-menu{

    } */
  }

  .Footer{
    background-color: brown;
    margin-top: 80%;
    bottom: 0;
    min-height: 40vh;
  }

  .WebsiteName{
    font-size: medium;
    text-align: center;
    margin-bottom: 5%;
  }

  

  